@using KT_1_ASP
@using KT_1_ASP.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    var currentDate = DateTime.Now;
}

<h1>Добро пожаловать!</h1>

<p>Сегодня: @currentDate.ToString("dd MMMM yyyy, HH:mm")</p>

<p> Cделал сам без мам пап и кредитов!!</p>